body {
    background-color: rgb(227 245 251)
}
h1 {
    font-family: cursive;
    color: blue;
    font-weight: bolder;
}
.jumbotron {
    margin-left: 10px;
}

#foot {
    /* position: absolute; */
    overflow: hidden;
    margin: 0px!important;
}


#app {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}